@charset "UTF-8";


main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

